.menu {
    background-color: #333;
    padding: 1rem;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    display: flex;
    margin: 0;
    color: white;
    align-items: center ;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  .container-menu{
    width: 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    width: 10vw;
    border-radius: 20px;
    
  }